
<div class="index-body">
    <div class="container-index">
        <h1>Welcome!</h1>
        <br/>
        <h2>Get inspired, sorted out, and go surf!</h2>
    </div>
</div>
<div class="container">
{{> cities }}
<br/><br/>
<h4><a href="/cities">View all cities</a></h4>
</div>